body {
  background-image: url("../imagenes/fondoap.jpg");
background-repeat: repeat;
  width:500
  margin:0;
font-family: Helvetica;
  background-color: white;
}
.cero{
background: brown;
  border: 1px solid #03071e;
  width: 300px;
  text-align: center;
}
.dos{
  background: red;
  border: 1px solid #03071e;
  width: 110px;
}
.uno{
background: burlywood;
width:50%;
margin:20px 150px;
padding: 10px 20px;
border-radius: 40px;
}