.dos{
  background: red;
  border: 1px solid #03071e;
  width: 110px;
}
body{
  color: black;
  border-color: white;
  background-image: url("../imagenes/patron1a.jpg");
  background-repeat: repeat;
}
img{
  width:100px;
  height: 100px;
}
