body {
  background-image: url("../imagenes/ajedrezfondo1.jpg");
background-repeat: no-repeat;
  background-size: cover;
  width:500;
  margin:0;
font-family: Helvetica;
  background-color: white;
  .dos{
  background: red;
  border: 1px solid #03071e;
  width: 110px;
}
