*{
  padding: 0;
  margin: 0;
}
body{
font-family: "calibri light";
}
.contenedor{
background: tomato;
width: 80%;
margin: auto;
}
header{
background: black;
height:100px;
}
main{
background: blue;
}
footer{
  background:teal; 
}
header{
height:300px;
background-image:url("../imagenes/ajedrezfondo3.jpg");
background-position: center;
background-size: cover;
}
main{
  background: white;
  padding: 20px 30px;
}
main .foto{
width: 150px;
height: 150px;
background-color: grey;
border-radius: 50%;
margin: -90px 0 20px 0;
border: 6px solid #ffffff;
}
main .foto img{
width:100%;
border-radius: 50%;
}
footer {
background:teal;
text-align: center;
padding: 10px;
color: #ffffff;
}
.dos{
  background: red;
  border: 1px solid #03071e;
  width: 110px;